* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: lightblue;
}

.list-container {
  padding: 1rem;
  width: calc(100vw - 2rem);
  min-height: calc(100vh - 2rem);
  height: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}

.card-container {
  width: 350px;
  height: 350px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: justify;
  background-color: white !important;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.image-thumbnail {
  height: 100px;
  border-radius: 100%;
}

.image-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: white;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 36px 0px;
  cursor: pointer;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #36a0e7; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}